<h1>Display your Pirate here</h1>
<p>Pirate Name: <%= %></p>
<p>Weight: <%= %></p>
<p>Height: <%= %></p>

<h2>Display your first ship here</h2>
<p>Ship #1 Name: <%= %></p>
<p>Type: <%= %></p>
<p>Booty: <%= %></p>

<h2>Display your second ship here</h2>
<p>Ship #2 Name: <%= %></p>
<p>Type: <%= %></p>
<p>Booty: <%= %></p>
